@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas');

body {
    margin: 0;
    padding: 0;
    background: #f00;
}

.container {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 3em; 
    font-family: 'Mountains of Christmas', cursive;

}

h1 span {
    font-size: 4em;
    line-height: .8em;
}

#clock {
    display: flex;
    width: 570px;
    margin: 0 auto;
}

#clock div {
    position: relative;
    width: 100px;
    padding: 20px;
    margin: 0 5px;
    background: green;
    color: #fff;
    border: 2px solid;
}

#clock div:last-child {
    background: ##e91e63;
}